:root{
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 0.75rem;
  min-height: 100vh;
  padding: 10rem 0 7rem;
}
.accordion{
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20.5rem;
  min-height: 32rem;
  box-shadow: 0px 23px 53px -27px #000;
}
.background-images{
  background-image:  url('../images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: top center;
  height: 9rem;
}
.background-images::before{
  content: url('../images/illustration-woman-online-mobile.svg');
  position: relative;
  bottom: 108px;
  right: 14px;
}
.questions{
  display: flex;
  flex-direction: column;
  width: 83%;
}
.faq-heading {
  text-transform: uppercase;
  font-size: 2.3rem;
  text-align: center;
}
.questions-list{
  list-style: none;
}
li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 0.1rem solid var(--light-grayish-blue);
  min-height: 3.5rem;
}
.faq-question{
  display: flex;
  justify-content: space-between;
}
.question{
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  flex-grow: 2;
}
img{
  align-self: center;
}
.answer{
  display: none;
}
/* active-state classes */
.arrow-up{
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: transform 1s;
  transform: rotate(180deg);
}
.answer-active{
  color: var(--dark-grayish-blue);
  display: flex;
  align-items: center;
  flex-grow: 0;
  max-width: 15rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  display: block;
}
.question-active{
  color: #000;
  font-weight: bold;
  margin: 1rem 0;
}
footer{
  position: relative;
  top: 3rem;
}
@media screen and (min-width: 950px) {
  body{
    padding: 0;
  }
  .accordion{
    flex-direction: row;
    min-width: 60rem;
    position: relative;
  }
  .background-images{
    position: relative;
    background-image: url('../images/bg-pattern-desktop.svg');
    flex: 1;
    height: 32rem;
    background-position-x: -34.7rem;
    background-position-y: -18rem;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .background-images::before{
    content: url('../images/illustration-woman-online-desktop.svg');
    position: absolute;
    bottom: 4.5rem;
    right: 4.5rem;
  }
  .accordion::after{
    content: url('../images/illustration-box-desktop.svg');
    position: absolute;
    bottom: 7.5rem;
    left: -5.5rem;
  }

  .questions{
    flex: 1;
  }
  .faq-heading{
    font-size: 2rem;
    padding-bottom: 1rem;
    text-align: left;
  }
  .questions-list{
    list-style: none;
  }
  li {
    max-width: 25rem;
    cursor: pointer;
  }
  .question{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    flex-grow: 2;
  }
  .question:hover{
    color: var(--soft-red);
  }
}
